@keyframes scaleUp {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes fallDown {
    from{
        transform: translateY(-25%);
        opacity: 0.2;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes btnScale {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.98);
    }
}

@keyframes blink {
    0%{
        opacity: 0;
    }

    // 25%{
    //     opacity: 0.5;
    // }
    50%{
        opacity: 1;
    }
    // 75%{
    //     opacity: .5;
    // }
    100%{
        opacity: 0;
    }
}