@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-primary: #340778;
    --white: #ffffff;
    --bg-secondary: #7C77B9;
    --bg-tertiary: #FFA630;
    --black: #1E2019;
}

html{
    scroll-behavior: smooth;
}

@layer components{
    .bg-primary{
        background-color: var(--bg-primary)
    }
    .text-primary{
        color: var(--bg-primary);
    }
    .bg-secondary{
        background-color: var(--bg-secondary)
    }
    .text-primary{
        color: var(--bg-secondary);
    }
    .bg-gold{
        background-color: var(--bg-tertiary)
    }
    .text-gold{
        color: var(--bg-tertiary);
    }
    .text-site-black{
        color: var(--black);
    }
    .bg-site-black{
        background-color: var(--black);
    }
    .card{
        @apply rounded-lg flex flex-col justify-center p-8 items-center;
        border: 2px solid var(--black);
    }
    .a-disabled, .a-disabled * {
        @apply pointer-events-none !text-gray-400 cursor-not-allowed;
    }
}
